{% extends "base_gestao_barbearia.html" %}

    {% block 'body' %}
        <div class="container mt-5">
            {% if barbearia %}
                <h1 class="mb-4">Bem-vindo à Gestão da Barbearia: {{ barbearia.nome }}</h1>
                <div class="row">
                    <div class="col-md-8">
                        <h2>Informações da Barbearia</h2>
                        <p><strong>Nome:</strong> {{ barbearia.nome }}</p>
                        <p><strong>Tipo de Assinatura:</strong> {{ barbearia.tipo_assinatura }}</p>
                        <p><strong>Assinatura Ativa:</strong> {{ barbearia.assinatura_ativa }}</p>
                        <p><strong>Aberto:</strong> {{ barbearia.aberto }}</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Funcionários</h2>
                        <ul class="list-group">
                            {% for funcionario in funcionarios %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        {{ funcionario.user.username }} -  
                                            {% for funcao in funcoes %}  {{ funcao.nome }}  - 
                                                {% for servico in funcao.servicos %}  {{ servico.nome }} {% endfor %}
                                            {% endfor %}
                                        <span>
                                            <a href="#" class="btn btn-sm btn-warning">Editar</a>
                                            <a href="#" class="btn btn-sm btn-danger">Remover</a>
                                            <a href="{% url 'gestao_barbearia:visualizar_agenda' funcionario.id %}" class="btn btn-sm btn-info">Visualizar Agenda</a>
                                        </span>
                                    </div>
                                    <ul class="list-group mt-2">
                                        {% for servico in funcionario.servicos %}
                                            <li class="list-group-item">
                                                {{ servico.nome }} - {{ servico.descricao }} - {{ servico.duracao }} - R$ {{ servico.preco }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="btn btn-primary mt-3">Adicionar Funcionário</a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <h2>Acesso ao App Cliente Barbearia</h2>
                        <a href="{% url 'gestao_barbearia:acessar_cliente_app' barbearia.id %}" 
                        class="btn btn-success">Ir para Cliente Barbearia</a>
                    </div>
                </div>
            {% else %}
                <h1 class="mb-4">Bem-vindo à Gestão da Barbearia</h1>
                <p>Você não tem uma barbearia associada.</p>
            {% endif %}
        </div>
    {% endblock %}