<!DOCTYPE html>
<html>
<head>
    <title>Portal de Serviços</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bem-vindo ao Portal de Serviços</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestão Barbearia</h5>
                        <p class="card-text">Gerencie sua barbearia de forma eficiente.</p>
                        <a href="{% url 'gestao_barbearia:login' %}" class="btn btn-primary">Acessar Gestão Barbearia</a>
                    </div>
                </div>
            </div>
            <!-- Você pode adicionar mais cards para outros apps aqui -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
